h1 {
  text-align: center;
  margin: 20px;
}

.container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid antiquewhite;
  padding-bottom: 20px;
}

button  {
  margin: 10px;
 }
