<h2>Editar Elemento</h2>
<div class="container">
  <form action="">
      <label for="tarea" id="tarea">Tarea</label>
      <input type="text" id="tarea" name="tarea">
      <!-- <input type="text" id="tarea" name="tarea" [(ngModel)]="selectedElement.tarea"> -->
      <div>
        <label for="estado" id="estado">Estado</label>
        <input type="checkbox" id="estado" name="estado">
        <!-- <input type="checkbox" id="estado" name="estado" [(ngModel)]="selectedElement.finalizado"> -->
      </div>
      <br>
      <button class="btn btn-warning">Guardar</button>
  </form>
</div>
